name: Run Tests
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

# Consider moving some/all of this to step-level
env:
  HOST: localhost
  DATABASE: vetlog
  USER: ${{ secrets.USERNAME }}
  PASSWORD: ${{ secrets.PASSWORD }}
  VETLOG_USER: ${{ secrets.VETLOG_USER }}
  VETLOG_PASSWORD: ${{ secrets.VETLOG_PASSWORD }}
  FACTOR: ${{ secrets.FACTOR }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          # Fetch depth 0 is important for SonarQube to get full history
          fetch-depth: 0

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.3.0
        with:
          python-version: "3.12.3"

      - name: Install with uv
        run: |
          pip install uv
          uv sync

      - name: Format with ruff
        run: |
          uv run ruff check

      - name: Start MySQL
        env:
          # Set MySQL credentials from GitHub secrets
          # MYSQL_USER and MYSQL_PWD are automatically read by mysql CLI
          MYSQL_USER: ${{ secrets.USERNAME }}
          MYSQL_PWD: ${{ secrets.PASSWORD }}
        run: |
          sudo /etc/init.d/mysql start

          echo "Creating database: $DATABASE"
          mysql -e "CREATE DATABASE $DATABASE;" -u$USER -p$PASSWORD

          echo "Creating user table"
          mysql "$DATABASE" -e "CREATE TABLE user(
            id bigint(20) NOT NULL AUTO_INCREMENT,
            account_non_expired bit(1) NOT NULL,
            account_non_locked bit(1) NOT NULL,
            credentials_non_expired bit(1) NOT NULL,
            date_created datetime NOT NULL,
            email varchar(255) DEFAULT NULL,
            enabled bit(1) NOT NULL,
            first_name varchar(255) DEFAULT NULL,
            last_name varchar(255) DEFAULT NULL,
            mobile varchar(255) DEFAULT NULL,
            password varchar(255) NOT NULL,
            role varchar(255) NOT NULL,
            username varchar(255) NOT NULL,
            PRIMARY KEY (id)
          );" -u$USER -p$PASSWORD -D$DATABASE

          echo "Creating breed table"
          mysql "$DATABASE" -e "CREATE TABLE breed(
            id bigint NOT NULL AUTO_INCREMENT,
            date_created datetime(6) NOT NULL,
            name varchar(255) NOT NULL,
            type varchar(255) NOT NULL,
            PRIMARY KEY (id)
          );" -u$USER -p$PASSWORD -D$DATABASE

          echo "Creating pet table"
          mysql "$DATABASE" -e "CREATE TABLE pet(
            id bigint NOT NULL AUTO_INCREMENT,
            birth_date datetime(6) NOT NULL,
            date_created datetime(6) NOT NULL,
            dewormed bit(1) NULL,
            name varchar(255) NOT NULL,
            status varchar(255) NOT NULL,
            sterilized bit(1) NULL,
            uuid varchar(255) NOT NULL,
            vaccinated bit(1) NULL,
            adopter_id bigint DEFAULT NULL,
            breed_id bigint DEFAULT NULL,
            user_id bigint DEFAULT NULL,
            pet_id bigint DEFAULT NULL,
            PRIMARY KEY (id)
          );" -u$USER -p$PASSWORD -D$DATABASE

          echo "Creating vaccination table"
          mysql "$DATABASE" -e "CREATE TABLE vaccination(
            id bigint NOT NULL AUTO_INCREMENT,
            date date NOT NULL,
            name varchar(255) NOT NULL,
            status enum('APPLIED','PENDING') NOT NULL,
            pet_id bigint DEFAULT NULL,
            PRIMARY KEY (id)
          );" -u$USER -p$PASSWORD -D$DATABASE

          echo "Creating vetlog user: $VETLOG_USER"
          mysql -e "CREATE USER '$VETLOG_USER'@'localhost' IDENTIFIED BY '$VETLOG_PASSWORD';" -u$USER -p$PASSWORD

          echo "Granting permissions to $VETLOG_USER on $DATABASE"
          mysql -e "GRANT ALL PRIVILEGES ON $DATABASE.* TO '$VETLOG_USER'@'localhost';" -u$USER -p$PASSWORD

          echo "Inserting user rows"
          mysql "$DATABASE" -e "INSERT INTO user VALUES(1, 0, 0, 0,'2024-04-21 20:08:51','contact@josdem.io', 1,'jose','morales',NULL,'password','USER','josdem');" -u$USER -p$PASSWORD -D$DATABASE
          mysql "$DATABASE" -e "INSERT INTO user VALUES(2, 0, 0, 0,'2024-04-21 20:08:52','contact@josdem.io', 1,'jose','morales',NULL,'password','USER','johndoe');" -u$USER -p$PASSWORD -D$DATABASE
          mysql "$DATABASE" -e "INSERT INTO user VALUES(3, 0, 0, 0,'2024-04-21 20:08:53','contact@josdem.io', 1,'jose','morales',NULL,'password','USER','NHUQfuLarRMDj');" -u$USER -p$PASSWORD -D$DATABASE
          mysql "$DATABASE" -e "INSERT INTO user VALUES(4, 0, 0, 0,'2024-04-21 20:08:54','contact@josdem.io', 1,'jose','morales',NULL,'password','USER','rJVyFMNsmXhPUvG');" -u$USER -p$PASSWORD -D$DATABASE

          echo "Inserting breed and pet data"
          mysql "$DATABASE" -e "INSERT INTO breed VALUES (1,'2022-06-03 21:23:01.000000','Chihuahua','DOG');" -u$USER -p$PASSWORD -D$DATABASE
          mysql "$DATABASE" -e "INSERT INTO pet VALUES (1,'2023-05-14 20:59:00.000000','2023-10-23 10:24:18.375559',NULL,'Cremita','OWNED',NULL,'0694c042-a4ae-4f99-b329-98f519da0164',NULL,NULL,1,1,NULL);" -u$USER -p$PASSWORD -D$DATABASE

          echo "Database setup complete"

      - name: Execute tests
        run: |
          source ${{ github.workspace }}/.venv/bin/activate
          python -m unittest discover ${{ github.workspace }} -s tests

      - name: Run tests with coverage
        run: |
          source ${{ github.workspace }}/.venv/bin/activate
          coverage run -m unittest discover
          coverage report -m
          coverage html
          coverage xml

      - name: Archive code coverage results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: code-coverage-report
          path: htmlcov
          retention-days: 30

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          # Needed to get PR information, if any
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          # Links Sonar project to GitHub commit hash
          args: >
            -Dsonar.projectVersion=${{ github.sha }}
