name: Run Tests
on:
  push:
    # branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

# Consider moving some/all of this to step-level
env:
  HOST: localhost
  DATABASE: vetlog
  USER: ${{ secrets.USERNAME }}
  PASSWORD: ${{ secrets.PASSWORD }}
  VETLOG_USER: ${{ secrets.VETLOG_USER }}
  VETLOG_PASSWORD: ${{ secrets.VETLOG_PASSWORD }}
  FACTOR: ${{ secrets.FACTOR }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          # Fetch depth 0 is important for SonarQube to get full history
          fetch-depth: 0

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.3.0
        with:
          python-version: "3.12.3"

      - name: Install with uv
        run: |
          pip install uv
          uv sync

      - name: Format with ruff
        run: |
          uv run ruff check

      - name: Execute unit tests
        run: |
          uv run pytest tests/unit -v

      # - name: Execute integration tests
      #   run: |
      #     uv run pytest tests/integration -v

      # - name: Run tests with coverage
      #   run: |
      #     uv run coverage run -m pytest tests/unit -v
      #     uv run coverage html -d docs/coverage_html
      #     uv run coverage xml -o docs/coverage.xml

      # - name: Archive code coverage results
      #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      #   with:
      #     name: coverage-report
      #     path: docs/coverage.xml
      #     # retention-days: 30

      # - name: SonarCloud Scan
      #   uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
      #   env:
      #     # Needed to get PR information, if any
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #   with:
      #     # Links Sonar project to GitHub commit hash
      #     args: >
      #       -Dsonar.projectVersion=${{ github.sha }}
